:root {
  --sans-serif: -apple-system, BlinkMacSystemFont,
                'avenir next', avenir,
                helvetica, 'helvetica neue',
                ubuntu,
                roboto,
                noto,
                'segoe ui',
                arial,
                sans-serif;
  --serif: georgia, serif;
  --code: consolas, monaco, monospace;
}
